.container {
  margin-top: 1.5rem;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--gray-200);
  border-radius: 5px;
  padding: 0 0 1rem 0;
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--white);
  background: var(--gray-800);
  padding: 0.7rem;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.table {
  border-spacing: 2rem 0.5rem;
  width: 100%;
}

thead {
  font-weight: 500;
  font-size: 1.1rem;
}

th {
  line-height: 1.5rem;
}
