.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 12.5rem;
  margin-bottom: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 98%;
  font-size: 1.2rem;
  background: var(--gray-100);
  margin-bottom: 2rem;
  padding: 1rem;
}

.singleInput {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.singleInput label {
  width: 25%;
}

.singleInput input {
  padding: 0.3rem;
  border: none;
  width: 55%;
}

.button {
  padding: 0.35rem;
  margin-left: 0.5rem;
  border: none;
  border-radius: 5px;
  background: var(--blue-light);
  color: var(--white);
}

.button:hover {
  opacity: 0.8;
}

.buttonSave {
  padding: 0.35rem;
  margin-left: 0.5rem;
  border: none;
  border-radius: 5px;
  background: var(--blue-light);
  color: var(--white);
  width: 30%;
  margin-left: 11.5rem;
}

.buttonSave:hover {
  opacity: 0.8;
}
