.container {
  padding: 0.5rem;
  background: var(--gray-100);
  margin-bottom: 1rem;
  width: 98%;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 13.5rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.singleInput {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.singleInput span {
  width: 25%;
}

.singleInput input {
  padding: 0.3rem;
  border: none;
  width: 55%;
}

.singleInput:first-child {
  width: 100%;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}

.buttonNewPhone,
.buttonSavePhone {
  padding: 0.3rem;
  border: none;
  background: var(--blue-light);
  color: var(--white);
  width: 30%;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.buttonSavePhone {
  background: var(--green);
}

.buttonSavePhone:hover,
.buttonNewPhone {
  opacity: 0.8;
}
