.container {
  padding: 0.5rem;
  background: var(--gray-100);
  margin-bottom: 1rem;
  width: 98%;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 14rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.phoneContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.1rem;
}

.inputMask {
  margin-left: 1rem;
}

.btnContainer {
  display: flex;
  justify-content: right;
  position: relative;
  height: 2rem;
}

.buttonNewPhone {
  padding: 0.3rem;
  border: none;
  background: var(--blue-light);
  color: var(--white);
  width: 30%;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  position: absolute;
  right: 9rem;
}

.buttonNewPhone:hover {
  opacity: 0.8;
}
