.container {
  background: var(--gray-800);
  color: var(--white);
  padding: 1.5rem 2rem;
  margin-top: 1rem;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2rem;
  border-radius: 5px;
}

.registerBtn {
  padding: 0.6rem;
  border: none;
  background: var(--blue-light);
  color: var(--white);
  border-radius: 5px;
}
