.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;

  width: 1100px;
  border-radius: 5px;
  background: var(--gray-200);
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-850);
  width: 100%;
}

.title {
  font-size: 2.2rem;
  color: var(--white);
  font-weight: 700;
  padding: 1rem;
}

.fullRegister {
  margin: 1rem auto;
  width: 98%;
}

.personnalRegister {
  width: 49%;
}

.personnalRegister {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.addressRegister {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0.2rem;
}

.btnAddressContainer {
  margin-top: 2.5rem;
}

.btnAddress {
  padding: 1rem;
  text-decoration: none;
  border: none;
  background: var(--blue-light);
  color: var(--white);
  border-radius: 5px;
  position: absolute;
  right: 10px;
  bottom: 0;
}

.btnAddress:hover {
  opacity: 0.8;
}

.btnContainer {
  width: 100%;
  position: relative;
  margin-top: 3.5rem;
}

.btnCancel {
  padding: 1rem;
  text-decoration: none;
  border: none;
  background: var(--red);
  color: var(--white);
  border-radius: 5px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.btnCancel:hover {
  opacity: 0.8;
}
